$a: 100vw;
$b: 320px;

@mixin adaptive-value ($property, $startSize, $minsize, $type) {
  $addsize: $startSize - $minsize;
  @if $type==1 {
    //только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{1000 + px}) {
      #{$property}: calc(#{$minsize + px} + #{$addsize} * ((#{$a} - #{$b}) / #{1000 - 320}));
    }
  } 
}